# QuestBoard — env vars
NEXT_PUBLIC_BOUNTY_FACTORY_ID=
NEXT_PUBLIC_AGENT_REGISTRY_ID=
NEXT_PUBLIC_USDC_TESTNET=CBIELTK6YBZJU5UP2WWQEUCYKLPU6AUNZ2BQ4WWFEIE3UDAMQA
NEXT_PUBLIC_HORIZON_RPC=https://horizon-testnet.stellar.org
NEXT_PUBLIC_SOROBAN_RPC=https://soroban-testnet.stellar.org
PERKOS_STACK_URL=https://stack.perkos.xyz
PERKOS_RELAYER_URL=https://stellar-relayer.perkos.xyz
PERKOS_API_KEY=